@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root[data-theme="copper"] {
  /* Colors */
  --op-color-primary-h: 18;
  --op-color-primary-s: 62%;
  --op-color-primary-l: 54%;

  /* Fonts */
  font-family: 'Roboto';

  --gf-radius-one-line: var(--op-radius-pill);
  --gf-radius-multi-line: var(--op-radius-2x-large);
  --gf-radius-feed-bubble: var(--op-radius-pill);

  .btn {
    border-radius: var(--gf-radius-one-line);
  }

  .accordion.accordion--within-player-decks {
    border-radius: var(--gf-radius-player-decks);
  }

  .feed {
    .feed__bubble {
      border-radius: var(--op-radius-pill);
    }
  }
}