.accordion.accordion--within-player-decks {
  --gf-radius-player-decks: var(--op-space-x-small);
  --gf-summary-padding: 0 var(--op-space-medium) 0 var(--op-space-x-small);

  background-color: var(--op-color-neutral-plus-eight);
  box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);
  border-radius: var(--gf-radius-player-decks);

  summary {
    padding: var(--gf-summary-padding);
    box-shadow: var(--op-border-all) var(--op-color-primary-plus-four);

    background-color: var(--op-color-primary-plus-max);
    color: var(--op-color-primary-on-plus-max);

    .player-decks__deck-details {
      display: flex;
      gap: var(--op-space-x-large);
    }

    .accordion__label {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-normal);
      padding: var(--op-space-x-small);
      transition: 0.1s;
    }

    .player-decks__deck-details .accordion__label {
      font-size: var(--op-font-small);
    }

    .accordion__marker {
      width: var(--op-input-height-small);
      height: var(--op-input-height-small);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--op-radius-circle);
      padding: var(--op-space-2x-small);
      transition: 0.1s;
    }

    .accordion__marker:hover {
      box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
    }

  }

  &[open] {
    summary {
      background-color: var(--op-color-primary-plus-eight);
      color: var(--op-color-primary-on-plus-eight);
    }

    .accordion__marker {
      background-color: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-plus-five);
      box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
    }

    .accordion__label {
      color: var(--op-color-primary-on-plus-eight);
    }

    .player-decks__deck-details .accordion__label {
      color: var(--op-color-primary-on-plus-eight-alt);
    }
  }
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .accordion {
    &.accordion--within-player-decks {
      max-height: calc(var(--op-size-unit) * 22);
      overflow: hidden;
    }
  }
}