.cards {
  height: 85%;
  display: flex;
  align-items: stretch;
  padding: var(--op-space-small);

  &.cards--books {
    height: 66%;
  }

  &.cards--deck {
    height: 15rem;
  }

  > * {
    margin-right: calc(var(--op-size-unit) * -12);
  }

  > *:last-of-type {
    margin-right: 0;
  }

  .cards__card {
    position: relative;
    bottom: 0;
    height: 100%;
    box-shadow: none;
    transition: 0.1s;
  }

  .cards__card:hover {
    bottom: var(--op-space-small);
  }

  .cards__card:active {
    bottom: var(--op-space-large);
  }
}

@media screen and (max-width: 750px) {
  .cards {
    height: calc(var(--op-size-unit) * 40);

    &.cards--books {
      height: calc(var(--op-size-unit) * 40);
    }

    &.cards--deck {
      height: calc(var(--op-size-unit) * 30);
    }
  }
}