.cards {
  --gf-cards-overlap: calc(var(--op-size-unit) * -12);
  --gf-cards-height: calc(var(--op-size-unit) * 50);

  height: var(--gf-cards-height);
  display: flex;
  align-items: stretch;
  padding: var(--op-space-small);

  &.cards--books {
    --gf-cards-height: calc(var(--op-size-unit) * 40);
  }

  &.cards--deck {
    --gf-cards-overlap: calc(var(--op-size-unit) * -6);
    --gf-cards-height: calc(var(--op-size-unit) * 30);
  }

  > *:not(:last-of-type) {
    margin-right: var(--gf-cards-overlap);
  }


  .cards__playing-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    height: 100%;
    box-shadow: none;
    transition: 0.1s;

    &.cards__playing-card--back {
      box-shadow: 0 0 0 var(--op-border-width-large) var(--op-color-white);
      border-radius: var(--op-radius-small);
    }

    &:hover {
      bottom: var(--op-space-small);
    }
  }
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .cards {
    --gf-cards-height: calc(var(--op-size-unit) * 40);

    &.cards--deck {
      --gf-cards-overlap: calc(var(--op-size-unit) * -14);
    }
  }
}