.feed {
  height: 100%;
  padding: var(--op-space-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--op-space-x-small);

  .feed__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--op-space-x-small);
    overflow: auto;
  }

  .feed__action-responses {
    padding-inline: var(--op-space-small);
    display: flex;
    flex-direction: column;
    gap: var(--op-space-x-small);
  }

  .feed__response {
    display: flex;
    align-items: center;
    gap: var(--op-space-x-small);

    svg {
      fill: var(--op-color-primary-on-plus-eight-alt);
    }
  }

  .feed__bubble {
    --gf-radius-feed-bubble: var(--op-radius-x-large);
    --gf-feed-bubble-padding: var(--op-space-small);

    width: 100%;
    font-size: var(--op-font-small);
    padding: var(--gf-feed-bubble-padding);
    border-radius: var(--gf-radius-feed-bubble);

    &.feed__bubble--player-action {
      width: auto;
      font-size: var(--op-font-medium);
      color: var(--op-color-primary-on-plus-five-alt);
      background-color: var(--op-color-primary-plus-five);
    }

    &.feed__bubble--player-response {
      color: var(--op-color-alerts-warning-on-plus-seven-alt);
      background-color: var(--op-color-alerts-warning-plus-seven);
      box-shadow: var(--op-border-all) var(--op-color-alerts-warning-plus-five);
    }
  
    &.feed__bubble--game-feedback {
      color: var(--op-color-primary-on-plus-max);
      background-color: var(--op-color-primary-plus-max);
      box-shadow: var(--op-border-all) var(--op-color-primary-plus-seven);
    }
  }

  .feed__request-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--op-space-small);
    padding: var(--op-space-small);
    border-radius: var(--gf-radius-multi-line);
    background-color: var(--op-color-primary-plus-seven);
    color: var(--op-color-primary-on-plus-seven);
    
    .btn--request-form {
      grid-column: span 2;
      border-radius: var(--gf-radius-one-line);
    }

    .request-form__action-options {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--op-space-small);

      .action-options__input-collection {
        display: grid;
        gap: var(--op-space-2x-small);

        select {
          --op-encoded-images-dropdown-arrow: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02IDguMzc1MDFMMCAyLjM3NTAxTDEuNCAwLjk3NTAwNkw2IDUuNTc1MDFMMTAuNiAwLjk3NTAwNkwxMiAyLjM3NTAxTDYgOC4zNzUwMVoiIGZpbGw9IiMwQTBBMEIiLz4KPC9zdmc+Cg==);
          color-scheme: only light;
          background-image: var(--op-encoded-images-dropdown-arrow);
          border-radius: var(--gf-radius-one-line);
        }
      }
    }
  }
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .feed {
    .feed__bubble {
      padding: var(--op-space-x-small);
    }
  }
}