.games-list {
  display: grid;
  padding-block: var(--op-space-2x-large);
  gap: var(--op-space-x-large);

  .games-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--op-space-x-small);
  }

  section {
    display: grid;
    gap: var(--op-space-x-small);
  }
}