.panel {
  --gf-header-height: 6rem;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--op-color-neutral-plus-eight);
  overflow: hidden;

  &.panel--player-decks {
    gap: var(--op-space-small);
    background-color: var(--op-color-neutral-plus-max);
  }

  &.panel--feed {
    background-color: var(--op-color-primary-plus-eight);
    box-shadow: inset var(--op-border-right) var(--op-color-border);
  }

  &.panel--hand {
    background-color: var(--op-color-primary-plus-eight);
    box-shadow: inset var(--op-border-bottom) var(--op-color-border);
  }

  &.panel--books {
    background-color: var(--op-color-primary-plus-eight);
    box-shadow: inset var(--op-border-width) var(--op-border-width) 0 0 var(--op-color-border);
  }

  &.panel--new-game-page {
    height: 100%;
    background-color: var(--op-color-neutral-plus-max);
  }

  &.panel--new-game-form {
    background-color: var(--op-color-neutral-plus-eight);
    color: var(--op-color-neutral-on-plus-eight);
    box-shadow: var(--op-border-all) var(--op-color-border);
    border-radius: var(--gf-radius-multi-line);

    padding: var(--op-space-2x-large);

    font-size: var(--op-font-x-large);
  }

  .panel__header {
    height: var(--gf-header-height);
    display: flex;
    padding: var(--op-space-2x-small) var(--op-space-medium);
    align-items: center;

    color: var(--op-color-primary-max);
    box-shadow: inset var(--op-border-top) var(--op-color-border);

    &.panel__header--feed {
      justify-content: space-between;
      color: var(--op-color-primary-on-plus-eight-alt);
    }

    &.panel__header--secondary {
      color: var(--op-color-neutral-on-plus-eight-alt);
      height: fit-content;
      padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
    }
  }

  .panel__content {
    height: 100%;
    overflow-y: auto;

    &.panel__content--horizontal {
      overflow-y: hidden;
      overflow-x: auto;
    }

    &.panel__content--feed {
      overflow: hidden;
    }

    &.panel__content--new-game-page {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root[data-theme-mode='dark'] {
    --op-color-border: var(--op-color-neutral-on-plus-max);
    .panel {
      &.panel--hand {
        background-color: var(--op-color-neutral-plus-eight);
      }

      &.panel--books {
        background-color: var(--op-color-neutral-plus-eight);
      }
    }
  }
}

:root[data-theme-mode='dark'] {
  --op-color-border: var(--op-color-neutral-on-plus-max);
}

/* --op-breakpoint-small */
@media (width <= 768px) {
  .panel {
    &.panel--feed {
      box-shadow: inset var(--op-border-bottom) var(--op-color-border);
      grid-row: 4;
    }

    &.panel--books {
      box-shadow: inset var(--op-border-bottom) var(--op-color-border);
    }

    &.panel--player-decks {
      gap: 0;
    }
  }
}