/* Optics */
@import '@rolemodel/optics/dist/css/optics.css';

/* Optics Overrides */
@import './components/optics-overrides/accordion.css';

/* Component Styles */
@import './components/panel.css';
@import './components/player-decks.css';
@import './components/cards.css';
@import './components/feed.css';

:root {
  --gf-header-height: 5rem;
}

.game {
  --gf-sidebar-width: calc(var(--op-size-unit) * 100);
  --gf-footer-height: calc(var(--op-size-unit) * 70);

  background-color: var(--op-color-neutral-plus-max);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr min(40%, var(--gf-sidebar-width));
  grid-template-rows: 1fr var(--gf-footer-height);

  .game__header {
    display: flex;
    gap: var(--op-space-x-small);
    font-weight: var(--op-font-weight-bold);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    .game {
      .game__header {
        > .icon {
          color: black;
        }
      }
    }
  }
}

:root[data-theme-mode='dark'] {
  .game {
    .game__header {
      > .icon {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .game {
    grid-template-columns: none;
    grid-template-rows: 3fr 2fr 1fr 1fr;
  }
}